.advantages {
    position: relative;
    height: fit-content;
}

.advantages_all h1 {
    font-size: 48px;
    padding: 336px 0 90px;
    
}
.desc {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.desc_about {
    display: flex;
    flex: 49%;
    margin-bottom: 60px;
    align-items: flex-start;
}

.desc_about img {
    width: 50px;
    padding-right: 20px;
}

.advantages_back_img {
    width: 100%;
    height: 100%;
}

.advantages_back_img img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (max-width: 768px) {
    .advantages_all h1 {
        font-size: 36px;
        padding: 250px 0 90px;
        text-align: center;
    }

    .desc_about {
        box-sizing: border-box;
    }
}

@media (max-width: 630px) {
    .desc_about {
        flex: 100%;
    }
}

@media (max-width: 370px) {
    .advantages_all h1 {
        padding: 300px 0 90px;
    }
}