.offer {
    background-color: #1A1F25;
    color: #FFFFFF;
}

.offer h1 {
    font-size: 48px;
    text-align: center;
    padding: 90px 0 80px;
}

.offer_table {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: none;
    padding-bottom: 90px;
}
.offer_prom {
    flex: 1 0 16%;
    max-width: 203px;
    max-height: 118px;
    margin: 0;
    padding: 46px 19.9px;
    text-align: center;
    border: 1px solid #595959;
}

.offer_prom  img {
    padding-bottom: 20px;
}

.offer_prom p {
    line-height: 150%;
}
.offer_prom button {
    color: #FFFFFF;
}

.offer_prom_btn {
    min-width: 185px;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15% auto;
    line-height: 24px;
    border: 0.5px solid #EEEEEE;
}

.offer_p {
    padding: 17.5px 0 17.5px 30px;
    font-size: 16px;
}
.offer_btn img {
    padding-right: 30px;
    padding-bottom: 0;
}


.offer_prom:first-child {
    border-left: none;
    border-top: none;
}

.offer_prom:last-child {
    border-right: none;
    border-bottom: none;
}

.offer_prom:nth-child(5) {
    border-right: none;
    border-top: none;
}

.offer_prom:nth-child(11) {
    border-left: none;
    border-bottom: none;
}

.offer_prom:nth-child(-n+4) {
    border-top: none;
}

.offer_prom:nth-child(n) {
    border-bottom: none;
}
.offer_prom:nth-child(n) {
    border-right: none;
}

.offer_prom:nth-child(6) {
    border-left: none;
}