.order {
    min-height: 940px;
    display: flex;
    color: #ffffff;
    width: 100%;
}
.order_input {
    position: relative;
    width: 50%;
}

.order_input h1 {
    font-size: 48px;
    padding: 173px 0 100px 353px;
}
.inputs {
    padding-left: 353px;
}
.input {
    display: flex;
    flex-direction: column;
    max-width: 509px;
    padding-bottom: 40px;
    padding-right: 10px;
}

input, textarea {
    opacity: 0;
    color: #FFFFFF;
}
.inputs hr {
    border: 1px solid #FFFFFF;
    max-width: 509px;
    margin-right: 10px;
}

.input_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 194px;
    height: 55px;
    margin-top: 80px;
    border: 1px solid #FFFFFF;
}

.input_button p {
    padding: 14px 0 14px 30px;
}
.input_button button {
    padding-right: 30px;
}




.order_back_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1;
}
.specialies {
    background-color: #000201;
    width: 50%;
}

.specialies h1 {
    position: relative;
    font-size: 48px;
    padding: 173px 0 138px 135px;
}

.circles {
    display: flex;
   position: absolute;
   
}

.circle {
    border-bottom: 1px solid #FFFFFF;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    z-index: 999;
    background-color: #000201;
}

.circle:first-child {
    margin-left: 88px;
    margin-top: -7%;
}

.circle:not(:first-child) {
    margin-top: -7%;
    margin-left: 126px;
}

.bags {
    display: flex;

}
.bag {
    width: 194px;
    height: 284px;
    border: 1px solid #FFFFFF;
}

.bag:first-child {
    margin-left: 30px;
}
.bag:not(:first-child) {
    margin-left: 10px;
}

.bag h2 {
    font-size: 20px;
    padding: 58px 37px 15px 15px;
}

.text1 {
    padding: 0 14px 44px 15px;
}
.text2 {
    font-size: 14px;
    padding-left: 15px;
    text-decoration: line-through;
}
.text3 {
    font-size: 24px;
    padding-left: 15px;
    padding-bottom: 30px;
}

#text1 {
    padding-bottom: 64px;
}