.order {
    min-height: 940px;
    display: flex;
    color: #ffffff;
    width: 100%;
}
.order_input {
    position: relative;
    width: 50%;
    height: auto;
}

.order_input h1 {
    font-size: 48px;
    padding: 173px 0 100px 18.39vw;
}
.inputs {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-left: 18.39vw;
}
.input {
    display: flex;
    flex-direction: column;
    max-width: 509px;
    padding-bottom: 40px;
    padding-right: 10px;
}

input, textarea {
    color: #FFFFFF;
    background-color: transparent;
}

.inputs hr {
    border: 1px solid #FFFFFF;
    max-width: 509px;
    margin-right: 10px;
}

.input_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 194px;
    height: 55px;
    margin-top: 80px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.input_button p {
    padding: 14px 0 14px 30px;
}
.input_button button {
    padding-right: 30px;
}




.order_back_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;  
}

.order_back_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}







.specialies {
    background-color: #000201;
    width: 50%;
    height: auto;
    box-sizing: border-box;
}

.specialies h1 {
    position: relative;
    font-size: 48px;
    padding: 173px 0 138px 7.03vw;
    line-height: 100%;
}

.bags {
    display: flex;
    /* width: 50%; */
    height: fit-content;
    padding-right: 10px;
}
.bag {
    position: relative;
    max-width: 194px;
    height: 284px;
    border: 1px solid #FFFFFF;
}

.bag::before {
    content: "";
    display: block;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    clip-path: circle(72% at center bottom);
    position: relative;
    top: -39px;
    left: calc(50% - 39px);
    z-index: 999;
    background: #000000;
}

.bag:first-child {
    margin-left: 1.56vw;
}
.bag:not(:first-child) {
    margin-left: 10px;
}

.bag:nth-child(2) {
    background: linear-gradient(180deg, #61B3C9 0%, #074D88 100%);
}

.bag h2 {
    
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.text1 {
    padding: 0 14px 0 15px;
    box-sizing: content-box;
}
.text2 {
    position: absolute;
    font-size: 14px;
    left: 15px;
    bottom: 65px;
    text-decoration: line-through;
}
.text3 {
    position: absolute;
    font-size: 24px;
    bottom: 30px;
    left: 15px;
}

#text1 {
    /* padding-bottom: 64px; */
    box-sizing: content-box;

}







@media (max-width: 1023px) {
    .order {
        display: block;
    }

    .inputs {
        padding-bottom: 30px;
     }

    .order_input {
        width: 100%;
    }

    .order_input h1 {
        font-size: 48px;
    }

   

    .specialies {
        width: 100%;
    }

    .specialies h1 {
        font-size: 36px;
        width: 100%;
        text-align: center;
        padding: 28px 0;
        overflow: auto;
    }

    .bags {
        justify-content: center;
        padding-bottom: 10px;
    }
}

@media (max-width:625px) {

    .order_input h1 {
        font-size: 36px;
        padding: 40px 10px 50px 10px;
    }

    .inputs {
        padding-bottom: 30px;
        padding-left: 10px;
     }

     .input_button {
        margin-top: 30px;
    }
    
    .bags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    .bag:not(:last-child){
        margin-bottom:20px;
        /* flex: 3 0 100%; */
    }
}